/*--SECCIÓN INICIO--*/
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    scroll-margin-top: 100px;/*se agrego*/
}

.container-home {
    max-width: 350px;
    /*margin: auto;*/
    margin: -20px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--container-home);
    padding: 20px;
    bottom:45px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgb(232, 222, 222);
    position: relative;
    z-index: 99;
    opacity: .85;
}
.container-home .presentation{
    backdrop-filter: none; /* Excluye el efecto del pseudo-elemento */
    z-index: 1;
}
.container-hero img {
    width: 90%;
    max-width: 250px;
    display: block;
    margin: auto;
}
.container-home h1{
    font-size: 25px;
    font-family: 'Righteous', sans-serif;
    color: var(--title-primary);
    margin-top: 10px;
}
.fade-in{
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}
.container-home h2{
    font-size: 18px;
    font-weight: 600;
    color: var(--title-secundary);
    margin-top: 10px;
}
.redes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.redes-red{
    font-size: 14px;
    font-weight: 600;
    background-color: var(--background-redes);
    border-radius: 42px;
    border: 2px solid  #fff;
    padding: 0.5em 0.7em;
    margin: 10px; 
    cursor: pointer;
    transition: .3s;
}
.redes-red:hover{
    transform: scale(1.1) translateY(-4px);
}
.redes-red a{
    color: var(--redes-a-1);
}
.redes-red a:hover{
    color: var(--redes-a-2);
}
/*SECCIÓN RESPONSIV*/
@media (min-width: 950px){
    .container-home{
        flex-direction: row;
        justify-content: space-between;
        max-width: 980px;
        margin: 0 auto;
        align-items:center;
       padding-block: 0;
       
    }
    .container-hero img{
        width: 100%;
        max-width: 350px;
        margin-right: 40px;
    }
    .presentation {
        margin: 0  40px;
    }
    .container-home h1{
        font-size: 36px;
    }
    .container-home h2{
        font-size: 25px;
        margin: 30px 0;
    }
    .redes-red{
        font-size: 20px;
    }
}
/*Estilos para pantallas medianas (768px - 949px) */
@media (min-width: 768px) and (max-width: 949px){
    .container-home {
        justify-content: center;
        padding: 15px;
    }
    .container-hero img {
        max-width: 300px;
        margin-right: 20px;
    }
    .presentation {
        margin: 15px 0;
    }
    .container-home h1 {
        font-size: 30px;
    }
    .container-home h2 {
        font-size: 22px;
    }
    .redes-red {
        font-size: 18px;
    }
}